<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.profundos.usbexec</string>

    <key>ProgramArguments</key>
    <array>
        <string>__HOME__/.usbexec/LaunchEventsPurger</string>
        <string>__HOME__/.usbexec/commands</string>
    </array>

    <key>KeepAlive</key>
    <false/>

    <key>WorkingDirectory</key>
    <string>__HOME__/.usbexec</string>

    <key>LaunchEvents</key>
    <dict>
            <key>com.apple.iokit.matching</key>
            <dict>
                    <key>com.apple.device-attach</key>
                    <dict>
                            <key>idProduct</key>
                            <integer>16</integer>

                            <key>idVendor</key>
                            <integer>4176</integer>

                            <key>IOProviderClass</key>
                            <string>IOUSBDevice</string>

                            <key>IOMatchStream</key>
                            <true/>

                            <key>IOMatchLaunchStream</key>
                            <true/>
                    </dict>
            </dict>
    </dict>
    
	<key>StandardErrorPath</key>
	<string>usbexec.log</string>
	<key>StandardOutPath</key>
	<string>usbexec.log</string>
    
</dict>
</plist>
